# Licensed to the Apache Software Foundation (ASF) under one or more contributor
# license agreements; and to You under the Apache License, Version 2.0.

{{- if eq .Values.whisk.ingress.type "Standard" }}
{{- if .Values.whisk.ingress.tls.createsecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.whisk.ingress.tls.secretname | quote }}
  labels:
{{ include "openwhisk.label_boilerplate" . | indent 4 }}
type: {{ .Values.whisk.ingress.tls.secrettype | quote }}
data:
  tls.crt: {{ .Values.whisk.ingress.tls.crt }}
  tls.key: {{ .Values.whisk.ingress.tls.key }}
{{- end}}
{{- end }}
