# Licensed to the Apache Software Foundation (ASF) under one or more contributor
# license agreements; and to You under the Apache License, Version 2.0.

{{ if not .Values.kafka.external }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.kafka.name | quote }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    name: {{ .Values.kafka.name | quote }}
{{ include "openwhisk.label_boilerplate" . | indent 4 }}
spec:
  serviceName: {{ .Values.kafka.name | quote }}
  podManagementPolicy: "Parallel"
  replicas: {{ .Values.kafka.replicaCount }}
  selector:
    matchLabels:
      name: {{ .Values.kafka.name | quote }}
  template:
    metadata:
      labels:
        name: {{ .Values.kafka.name | quote }}
{{ include "openwhisk.label_boilerplate" . | indent 8 }}
    spec:
      restartPolicy: {{ .Values.kafka.restartPolicy }}

      {{- if .Values.affinity.enabled }}
      affinity:
{{ include "openwhisk.affinity.core" . | indent 8 }}
{{ include "openwhisk.affinity.selfAntiAffinity" ( .Values.kafka.name | quote ) | indent 8 }}
      {{- end }}

{{- if .Values.k8s.persistence.enabled }}
      volumes:
      - name: kafka-data
        persistentVolumeClaim:
          claimName: {{ .Values.kafka.persistence.pvcName | quote }}
{{- end }}

      initContainers:
{{ include "openwhisk.readiness.waitForZookeeper" . | indent 6 }}

      containers:
      - name: {{ .Values.kafka.name | quote }}
        image: {{ .Values.kafka.image | quote }}
        imagePullPolicy: {{ .Values.kafka.imagePullPolicy | quote }}
{{- if .Values.k8s.persistence.enabled }}
        volumeMounts:
        - mountPath: /kafka
          name: kafka-data
{{- end }}
        ports:
        - containerPort: {{ .Values.kafka.port }}
          name: kafka
        env:
        - name: "KAFKA_BROKER_ID"
          value: "0"
        - name: "KAFKA_ADVERTISED_HOST_NAME"
          value: {{ .Values.kafka.name | quote }}
        - name: "KAFKA_ADVERTISED_PORT"
          value: "{{ .Values.kafka.port }}"
        - name: "KAFKA_HOST_NAME"
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: "KAFKA_PORT"
          value: "{{ .Values.kafka.port }}"

        # zookeeper info
        - name: "KAFKA_ZOOKEEPER_CONNECT"
          value: "{{ include "openwhisk.zookeeper_connect" . }}"
{{- end }}
