# Licensed to the Apache Software Foundation (ASF) under one or more contributor
# license agreements; and to You under the Apache License, Version 2.0.

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-whisk.config
  labels:
{{ include "openwhisk.label_boilerplate" . | indent 4 }}
data:
  whisk_info_date: {{ .Values.whisk.versions.openwhisk.buildDate | quote }}
  whisk_info_buildNo: {{ .Values.whisk.versions.openwhisk.buildNo | quote }}
  whisk_cli_version_tag: {{ .Values.whisk.versions.openwhiskCli.tag | quote }}
  whisk_system_namespace: {{ .Values.whisk.systemNameSpace | quote }}
{{- if eq .Values.whisk.ingress.type "LoadBalancer" }}
  whisk_api_host_proto: "https"
  whisk_api_host_port: {{ .Values.nginx.httpsPort | quote }}
  whisk_api_host_name: "{{ .Release.Name }}-nginx.{{ .Release.Namespace }}.svc.{{ .Values.k8s.domain }}"
  whisk_api_host_nameAndPort: "{{ .Release.Name }}-nginx.{{ .Release.Namespace }}.svc.{{ .Values.k8s.domain }}:{{ .Values.nginx.httpsPort }}"
  whisk_api_host_url: "https://{{ .Release.Name }}-nginx.{{ .Release.Namespace }}.svc.{{ .Values.k8s.domain }}:{{ .Values.nginx.httpsPort }}"
{{- else }}
  whisk_api_host_proto: {{ .Values.whisk.ingress.apiHostProto | quote }}
  whisk_api_host_port: {{ .Values.whisk.ingress.apiHostPort | quote }}
  whisk_api_host_name: {{ .Values.whisk.ingress.apiHostName | quote }}
  whisk_api_host_nameAndPort: "{{ .Values.whisk.ingress.apiHostName }}:{{ .Values.whisk.ingress.apiHostPort }}"
  whisk_api_host_url: "{{ .Values.whisk.ingress.apiHostProto }}://{{ .Values.whisk.ingress.apiHostName }}:{{ .Values.whisk.ingress.apiHostPort }}"
{{- end }}
