sudo: required

env:
  matrix:
    - env:
      - TRAVIS_KUBE_VERSION=v1.5.6
      - TRAVIS_ETCD_VERSION=v3.0.14
    - env:
      - TRAVIS_KUBE_VERSION=v1.6.2
      - TRAVIS_ETCD_VERSION=v3.0.17

services:
  - docker

before_install:
  - ./tools/travis/setupscan.sh
  - ./tools/travis/setup.sh

script:
  - ./tools/travis/scancode.sh
  - ./tools/travis/build.sh
