---
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: invoker
  namespace: openwhisk
  labels:
    name: invoker
spec:
  template:
    metadata:
      labels:
        name: invoker
    spec:
      restartPolicy: Always
      nodeSelector:
        openwhisk: "invoker"
      tolerations:
        - key: "dedicated"
          value: "invoker"
          effect: "NoSchedule"
          operator: "Equal"
        - key: "dedicated"
          value: "invoker"
          effect: "NoExecute"
          operator: "Equal"

      volumes:
      - name: cgroup
        hostPath:
          path: "/sys/fs/cgroup"
      - name: runc
        hostPath:
          path: "/run/runc"
      - name: dockerrootdir
        hostPath:
          path: "/var/lib/docker/containers"
      - name: dockersock
        hostPath:
          path: "/var/run/docker.sock"
      - name: apparmor
        hostPath:
          path: "/usr/lib/x86_64-linux-gnu/libapparmor.so.1"

      containers:
      - name: invoker
        imagePullPolicy: Always
        image: openwhisk/invoker
        command: [ "/bin/bash", "-c", "COMPONENT_NAME=$(hostname | cut -d'-' -f2) /init.sh" ]
        env:
          - name: "PORT"
            value: "8080"
          - name: "SELF_DOCKER_ENDPOINT"
            value: "localhost"
          - name: "SERVICE_CHECK_HTTP"
            value: "/ping"
          - name: "SERVICE_CHECK_TIMEOUT"
            value: "2s"
          - name: "SERVICE_CHECK_INTERVAL"
            value: "15s"
          - name: "WHISK_API_HOST_NAME"
            value: "nginx.openwhisk"
          - name: "WHISK_VERSION_BUILDNO"
            value: "latest"
          - name: "INVOKER_CONTAINER_NETWORK"
            value: "bridge"
          - name: "INVOKER_USE_RUNC"
            value: "false"

          # Properties for invoker image
          - name: "DOCKER_IMAGE_PREFIX"
            value: "openwhisk"
          - name: "DOCKER_IMAGE_TAG"
            value: "latest"
          - name: "DOCKER_REGISTRY"
            value: ""

          # Invoker instance count. Needs to match replica count
          - name: "INVOKER_INSTANCES"
            value: "1"

          # Invoker assigned name. Derived from hostname
          - name: "INVOKER_NAME"
            valueFrom:
              fieldRef:
                fieldPath: metadata.name

          # Java options
          - name: "JAVA_OPTS"
            value: "-Xmx2g"

          # Invoker options
          - name: "INVOKER_OPTS"
            value: ""

          # Kafka properties
          - name: "KAFKA_HOSTS"
            value: "$(KAFKA_SERVICE_HOST):$(KAFKA_SERVICE_PORT_KAFKA)"

          # zookeeper info
          - name: "ZOOKEEPER_HOSTS"
            value: "$(ZOOKEEPER_SERVICE_HOST):$(ZOOKEEPER_SERVICE_PORT_ZOOKEEPER)"

          # This property can change since it is generated via Ansible GroupVars
          - name: "RUNTIMES_MANIFEST"
            value: '{ "defaultImagePrefix": "openwhisk", "defaultImageTag": "latest", "runtimes": { "nodejs": [ { "kind": "nodejs", "image": { "name": "nodejsaction" }, "deprecated": true }, { "kind": "nodejs:6", "default": true, "image": { "name": "nodejs6action" }, "deprecated": false } ], "python": [ { "kind": "python", "image": { "name": "python2action" }, "deprecated": false }, { "kind": "python:2", "default": true, "image": { "name": "python2action" }, "deprecated": false }, { "kind": "python:3", "image": { "name": "python3action" }, "deprecated": false } ], "swift": [ { "kind": "swift", "image": { "name": "swiftaction" }, "deprecated": true }, { "kind": "swift:3", "image": { "name": "swift3action" }, "deprecated": true }, { "kind": "swift:3.1.1", "default": true, "image": { "name": "action-swift-v3.1.1" }, "deprecated": false } ], "java": [ { "kind": "java", "default": true, "image": { "name": "java8action" }, "deprecated": false, "attached": { "attachmentName": "jarfile", "attachmentType": "application/java-archive" }, "sentinelledLogs": false, "requireMain": true } ] }, "blackboxes": [ { "name": "dockerskeleton" } ] }'

          # Default to empty logs dir. This is because logs should go to stdout
          - name: "WHISK_LOGS_DIR"
            value: ""

          # this version is the day it is deployed,
          - name:  "WHISK_VERSION_DATE"
            value: "2017-01-01T00:00:00Z"

          # properties for DB connection
          - name: "DB_USERNAME"
            value: "whisk_admin"
          - name: "DB_PASSWORD"
            value: "some_passw0rd"
          - name:  "DB_PROTOCOL"
            value: "http"
          - name: "DB_HOST"
            value: "$(COUCHDB_SERVICE_HOST)"
          - name: "DB_PORT"
            value: "$(COUCHDB_SERVICE_PORT_COUCHDB)"
          - name: "DB_PROVIDER"
            value: "CouchDB"
          - name: "DB_WHISK_ACTIONS_DDOC"
            value: "whisks.v2"
          - name: "DB_WHISK_ACTIVATIONS_DDOC"
            value: "whisks.v2"
          - name: "DB_WHISK_ACTIVATIONS_FILTER_DDOC"
            value: "whisks-filters.v2"
          - name: "DB_WHISK_ACTIVATIONS"
            value: "test_activations"
          - name: "DB_WHISK_ACTIONS"
            value: "test_whisks"
          - name: "DB_WHISK_AUTHS"
            value: "test_subjects"

          # Name for the pod can be the hostname of the Kube node
          - name: "INVOKER_NAME"
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        ports:
        - name: invoker
          containerPort: 8080
        volumeMounts:
        - name: cgroup
          mountPath: "/sys/fs/cgroup"
        - name: runc
          mountPath: "/run/runc"
        - name: dockersock
          mountPath: "/var/run/docker.sock"
        - name: dockerrootdir
          mountPath: "/containers"
        - name: apparmor
          mountPath: "/usr/lib/x86_64-linux-gnu/libapparmor.so.1"
        lifecycle:
          postStart:
            exec:
              command:
              - "/bin/bash"
              - "-c"
              - "docker pull openwhisk/nodejsactionbase && docker pull openwhisk/nodejs6action && docker pull openwhisk/dockerskeleton && docker pull openwhisk/python2action && docker pull openwhisk/python3action && docker pull openwhisk/action-swift-v3.1.1 && docker pull openwhisk/swift3action && docker pull openwhisk/java8action"

